<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<nav class="nav navbar-nav navbar-left">
			<span>Bookers></span>
		</nav>
		<nav>
			<% if user_signed_in? %>
				<ul class="nav vavbar navbar-right">
					<li>
						<%= link_to "Home", show_user_path(current_user.id) %>
					</li>
					<li>
						<%= link_to "Users", index_user_path %>
					</li>
					<li>
						<%= link_to "Books", index_post_book_path %>
					</li>
					<li>
						<%= link_to "logout", destroy_user_session_path, method: delete %>
					</li>
				</ul>
			<% else %>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to "Home",  %>
					</li>
					<li>
						<%= link_to "About",  %>
					</li>
					<li>
						<%= link_to "sign up", new_user_registration_path %>
					</li>
					<li>
						<%= link_to "login", new_user_sessions_path %>
					</li>
				</ul>
			<% end %>
		</nav>
	</div>
</header>




<div class="col-xs-3">
	<h2>User info</h2>
	<!-- attachment -->
	<table class="table">
		<tbody>
			<tr></tr>
			<tr>
				<th>name</th>
				<th>user name</th>
			</tr>
			<tr>
				<th>introduction</th>
				<th>body</th>
			</tr>
		</tbody>
		<div class="row">
			<!-- profile edit -->
		</div>
		<h2>New book</h2>
		<!-- form for -->
		<%= form_for(@book,url:) do |f| %>
			<label for="book-title">Title</label>
			<%= f.text_field :title %>
			<label for="book-opinion">Opinion</label>
			<%= f.text_field :opinion %>
			<%= f.submit 'Create Book' %>

	</table>
</div>

<div class="col-xs-9">
	<h2>Book detail></h2>
	<table class="table">
		<tbody>
			<tr>
				<td>user</td>
				<td>title</td>
				<td>body</td>
				<td>edit</td>
				<td>destroy</td>
				<!-- user 以外なら -->
				<td>user</td>
				<td>title</td>
				<td>body</td>
			</tr>
		</tbody>
	</table>
</div>














<!-- 以下　間違って作成した文 -->
<div class="col-xs-9">
	<h2>Books</h2>
	<table class="table table-hover table-inverse">
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Opnion</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<!-- 投稿一覧表示 -->
		</tbody>
	</table>
</div>









<!-- 以下最初に間違って作成 -->
<div class="col-xs-9">
	<h2>Book detail</h2>
	<table class="table">
		<tbody>
			<tr>
				<td>アイコンと名前</td>
				<td>タイトル</td>
				<td>内容</td>
				<td>編集ボタン</td>
				<td>削除ボタン</td>
			</tr>
		</tbody>
	</table>
</div>